.page-content {
    margin-top: 56px;
}

.floatbg {
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 0px 102px 20px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 102px 20px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 102px 20px rgba(0,0,0,0.3);
  
  article {
    font-size: 3vh;
    color: #fff;
    height: 100%;
    padding: 0 2em;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
    background: rgba(0,0,0,0.2);
    
    * {
      max-width: 45%;
    }
    
    h1 {
      font-weight: bold;
    }
  }
}

.floatbg-001 {
  background-image: url('#{$background-images-base-url}/DSC02864.JPG');
}
.floatbg-002 {
  background-image: url('#{$background-images-base-url}/DSC02823.JPG');
}